body, h2, h3 {
  font-family: 'Quattrocento Sans', sans-serif;
  color: $elGris; /*gris*/
}

h2{
	font-size: 26px;
}

h3{
	font-size: 22px;
}

ul{ 
	padding: 0;
	margin: 0;
}

.main-header {
	margin-bottom: 10px;
}

.logo{
	img{
		width: 100%;
	  	max-width: 1024px;
	  	height: auto;
	  	margin: 0 auto;
	  	display: inherit;
	}
}

.contenedor{
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.menu{
	font-weight: bold;
	text-align: center;
	background: $elVerde;
	padding: 5px;
	display: inherit;
	@include border-radius(4px);
	a{
		color: #fff;
	}
	.navhead {
		display:block;
		font-size: 17px;
		font-weight: bold;
		padding: 5px;
		a:hover{
			text-decoration: none;
		}
		.menubutton{
			float: left;
		}
	}
	.navegacion{
		margin-bottom: 0; 
		display: none;
		.spacer {
			display: none;
		}
		li{
			text-decoration: none;
			list-style: none;
			display: block;
			padding: 0.8em 2em;
			border-top: 1px solid #fff;
			a {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}
.contenido{
	margin: 0 auto;
	width: 100%;
}

/* ==========================
	Componente de video
   ========================== */
.video-components {
	display: block;
}
.desk-home-video-component {
	display: none;
}
.principal, .principales, .nota {
	margin-bottom: 10px;
}
.principal{
	width: 100%;
	background: $elGris;
	img{
		float: left;
		width: 100%;
	}
	p{
		color: #fff;
		float: left;
		width: 100%;
		padding: 10px 1.5%;
	}
}
.principales{
	width: 49%;
	float: left;
	background: $elGris;
	img{
		width: 100%;
	}
	p{
		color: #fff;
		padding: 5px;
	}
	&.hlpr-mr {
		margin-right: 2%;
	}
}
.nota{
	width: 32.6%;
	float: left;
	display: inline-block;
	h2{
		background: $elGris;
		color: #fff;
		font-size: 14px;
		font-family: 'Quattrocento Sans', sans-serif;
		font-weight: bold;
		margin: 0;
		padding: 5px;
	}
	img{
		width: 100%;
	}
	&.hlpr-mr {
		margin-right: 1.1%;
	}
}
 .nota-s{
 	margin: 10px 0;
 	padding: 0 10px;
 	width: 100%;
 	a{ @extend %link-reset; }
 	img{
 		float: left;
 		width: 30%;
 	}
 	.nota-r{
 		float: right;
 		margin-top: 5px;
 		width: 65%;
 		font-size: 18px;
 	}
 }
 .news-title{
 	font-weight: bold;
 	font-size: 18px;
 }
 .news-des{
 	font-size: 16px;
 }
 .day{
 	font-size: 18px;
 	font-weight: bold;
 }
.date{
	float: right;
	font-size: 14px;
	font-family: 'Quattrocento Sans', sans-serif;
  	color: $elGris;
}

.nota-completa{
	img{
		width: 100%;
	}
}
.pie-foto{
	background: none;
	font-size: 16px;
}


.lateral{
	width: 100%;
	margin: 0 auto;
	.resultados,.audios,.twitter,.foto {
		margin-top: 10px;
	}
	.complemento{
		h2, h3{
			color: #fff;
			text-align: center;
			padding: 5px;
			font-size: 16px;
			font-weight: bold;
			font-family: 'Quattrocento Sans', sans-serif;
			margin: 3px 0;
		}

	}
	.widgets1{
		.cuenta{
			background: $elAzul; /*azul*/
			@include border-radius(3px);
			float: left;
			width: 100%;
		}
		.resultados{
			float: left;
			width: 100%;
			.res-head{
				background: lighten($elRojo,6%); /*rojo claro*/
				@include border-radius(3px);
			}
			.res-list{
				ul{
					list-style: none;
					text-align: center;
					li:nth-child(odd) {
					    background: #ccc;   
					}
				}
			}
			.res-footer{
				background: $elRojo; /*rojo*/
				@include border-radius(3px);
			}
		}
	}
	.widgets2{
		.twitter{
			background: $elAzulClaro; /*azul*/
			@include border-radius(3px);
			text-align: center;
			float: left;
			width: 100%;
			h2 a {
				color: #fff;
				padding: 5px;
				font-size: 16px;
				font-weight: bold;
				margin: 3px 0;
				text-decoration: none;
				i {
					font-size: 20px;
				}
			}
		}
		.audios{
			float: left;
			width: 100%;
			.aud-head{
				background: $elAmarillo;
				@include border-radius(3px);
			}
		}
	}
	.foto{
		float: left;
		width: 100%;
		.foto-head, .foto-footer{
			background: $elVerde;
			@include border-radius(3px);
		}
	}
}

.cuenta {
	color: #fff;
	@include box-sizing(border-box);
	padding: 10px;
	div {
		float: left;
		width: 25%;
		text-align: center;
		span {
			font-size: 40px;
			display: block;
			line-height: 100%;
		}
	}
}

.tweets-container {
	.single-tweet {
		font-size: 12px;
		color: darken($elAzulClaro,30%);
		background: #fff;
		border-bottom: 1px solid lighten($elAzulClaro,25%); 
		@include box-sizing(border-box);
		padding: 3px 5px;
		a {
			@extend %link-reset;
			color: darken($elAzulClaro,30%);
			text-decoration: underline;
		}
	}
	margin-bottom: 15px;
}

.pie{
	background: $elGris;
	color: #fff;
	text-align: center;
	font-size: 12px;
	margin-top: 10px;
}