/* Media Queries*/

/* VERSIÓN TABLET */
@media only screen and (min-width: 480px) {
	.menu{
		.navhead { display: none; }
		.navegacion{ 
			display: inline;
			text-align: justify;
			font-size: 0.1px;
			&:after, &:before {
				content: '';
				width: 100%;
				display: inline;
			}
			.spacer {
				display: inline-block;
				width: 100%;
			}
			li {
				border: none;
				display: inline;
				font-size: 14px;
			}
		}
	}
	.contenido{
		width: 100%;
		.principal{
			img{
				width: 74%;
			}
			p{
				width: 25%;
			}
		}
		.principales{
			width: 24%;
		}
	}
	.lateral{

		.cuenta{
			width: 47.5%;
			margin: 10px 5px;
		}
		.complemento{

		}
		.resultados{
			width: 47.5%;
			margin: 10px 5px;
			.res-head{
				margin: 0;
			}
			.res-list{
				
			}
			.res-footer{

			}
		}
		
		.twitter{
			width: 47.5%;
			margin: 10px 5px;
		}
		.audios{
			width: 47.5%;
			margin: 10px 5px;
		}
		.foto{
			width: 99%;
		}
	}
}

/* VERSIÓN ESCRITORIO */
@media only screen and (min-width: 769px) {
	.menu{
		.navegacion{
			width: 100%;
			text-align: justify;
			font-size: 0.1px;
			&:after, &:before {
				content: '';
				width: 100%;
			}
			.spacer {
				display: none;
				padding: 0;
			}
			li {
				border: 0;
				font-size: 14px;
				/* width: 200px; */
			}
		}
	}
	.contenido{
		width: 66% !important;
		float: left;
	}
	.lateral{
		width: 33.5% !important;
		margin: 0 auto;
		.cuenta{
			width: 100%;
			margin: 10px auto;
		}
		.complemento{

		}
		.resultados{
			width: 100%;
			margin: 10px auto;

			.res-head{
				margin: 0;
			}
			.res-list{
				
			}
			.res-footer{

			}
		}
		
		.twitter{
			width: 100%;
			margin: 10px auto;

		}
		.audios{
			width: 100%;
			margin: 10px auto;

		}
		.foto{
			width: 100%;
			margin: 10px auto;
		}
	}
}