%link-reset {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	width: 100%;
	height: 100%;
	@extend %border-box;
}

%list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

%border-box {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/**
/* ====================
/* Variables de colores
/* ====================
*/
$elGris: #636450;
$elVerde: #70B52E;
$elAmarillo: #feca17;
$elAzul: #2e4c8f;
$elAzulClaro: #3c91cf;
$elRojo: #dd3b30;